section#items-container{  
  width: 100%;
  pointer-events: auto;
}

#items-container #items{  
  width: max-content;  
  display: flex;
  pointer-events: none;    
  position: relative;
  left: 0;  
}
#items-container #items .item img{
  width: 14rem;
}